{{ define "main" }}
    <section id="blog-callout">
        <div class="wide">
            Latest Blog Post: {{ partial "latest-blog.html" . }}
        </div>
    </section>
    <section id="hero" class="wide">
        <div class="logo logo-hero">
            {{ partial "logo.html" . }}
        </div>
        <div id="hero-content">
            <h1>Epistemic Technology</h1>
            <h2>Consulting ⋅ Development</h2>
            <h3>"Technology for a world of knowledge. Knowledge for a world of technology."</h3>
        </div>
    </section>
    <div class="narrow">
        <section id="philosophy">
            <h2>Philosophy</h2>
            <p>Epistemic Technology builds knowledge-oriented software---software aimed at research, education, knowledge access, and knowledge sharing.</p>
            <p>Since the release of ChatGPT in 2022, artificial intelligence and AI-enabled technologies have evolved at an astounding pace, bringing both tremendous benefits and significant harms. This dual-nature is perhaps nowhere more apparent than in knowledge-oriented fields such as research and education.</p>
            <p>The fundamental premise of Epistemic Technology is that AI is here to stay, that society will have to adapt in unprecedented ways, and that best way to influence how these technologies evolve is to participate in their development and uses.</p>
            <p><a href="/mission/" class="read-more">Read more about our philosophy</a></p>
        </section>
        <section id="services">
            <h2>Services</h2>
            <div class="cards-grid">
                {{ partial "card.html" (dict "heading" "Consulting" "content" "From targeted reports to full-scale strategic planning, we can help you navigate the complexities of AI and emerging technologies." "link" "/services/#consulting") }}
                {{ partial "card.html" (dict "heading" "Development" "content" "We can assist your development team with implementing AI features is a responsible way that doesn't compromise your users' experience." "link" "/services/#development") }}
            </div>
        </section>
        <section id="about">
            <h2>About</h2>
                <p>Epistemic Technology combines engineering expertise with analytical and communication skills to help you navigate the complexities of AI and emerging technologies.</p>
                <div class="about-content">
                <div class="about-text">
                    <p>Mike Thicke is the founder of Epistemic Technology. He has an academic background in history and philosophy of science and technology, with a PhD from the University of Toronto. He also has a degree in computer science, and was tech lead for the <a href="https://kcommons.org">Knowledge Commons project</a>, part of Mesh Research at Michigan State University.</p>
                </div>
                <div class="about-image">
                    <img src="/images/mike-headshot.webp" alt="Mike Thicke, Founder" />
                </div>
            </div>
        </section>
        <section id="contact">
            <h2>Contact</h2>
            {{ partial "contact.html" }}
        </section>
    </div>
{{ end }}